.ear {
  &--right {
    transform: scale(-1, 1);
  }

  &__inner {
    display: block;
    width: 120px;
    height: 60px;
    background-color: #aad3ff;
    transform: rotate(42deg) skew(40deg);
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      background-color: #aad3ff;
      position: absolute;
      bottom: -25px;
      left: 12px;
      transform: rotate(38deg) skew(0deg);
    }

    &:after {
      content: '';
      display: block;
      width: 14px;
      height: 11px;
      background-color: #ffffa9;
      position: absolute;
      top: 29px;
      left: 34px;
      transform: rotate(80deg) skew(18deg);
    }
  }
}