.body {
  display: block;
  width: 350px;
  height: 450px;
  background-color: #81b5f1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &__chest {
    position: absolute;
    top: 25px;
    left: 25px;
  }

  &__wing {
    position: absolute;
    top: 131px;

    &--left {
      left: -22px;
    }

    &--right {
      right: -22px;
    }
  }

  &__leg {
    position: absolute;
    bottom: -22px;

    &--left {
      left: 90px;
    }

    &--right {
      right: 90px;
    }
  }

  &:focus {
    outline: none;
    .body__wing--left {
      -webkit-animation: waveLeft;
      -o-animation: waveLeft;
      animation: waveLeft .8s linear;

    }

    .body__wing--right {
      -webkit-animation: waveRight .8s linear;
      -o-animation: waveRight .8s linear;
      animation: waveRight .8s linear;

    }
  }
}

@keyframes waveLeft {
  0% {
    transform: rotate(18deg);
  }
  50% {
    transform: rotate(45deg);
  }
}

@keyframes waveRight {
  0% {
    transform: rotate(-18deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}