.eye {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  border: 6px solid #000;
  overflow: hidden;
  cursor: pointer;

  &__pupil {
    display: block;
    position: relative;
    width: 85px;
    height: 85px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #000;

    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 18px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: calc(50% - 10px);
      left: 50%;
    }
  }

  &:focus {
    animation: winkEye .3s linear;
    outline: none;

    .eye__pupil {
      animation: winkEyePupil .3s linear;
    }
  }

}

@keyframes winkEye {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(.01);
  }
}

@keyframes winkEyePupil {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
}