.chest {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #499bed;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__color-spot {
    display: block;
    width: 27px;
    height: 27px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    background-color: #ffffa9;

    &--1 {
      top: 220px;
      left: 20px;
    }

    &--2 {
      top: 215px;
      left: 95px;
    }

    &--3 {
      top: 220px;
      left: 165px;
    }

    &--4 {
      top: 225px;
      left: 235px;
    }

    &--5 {
      top: 290px;
      left: 93px;
    }

    &--6 {
      top: 290px;
      left: 170px;
    }

  }
}