.head {
  display: block;
  width: 360px;
  height: 260px;
  background-color: #aad3ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;


  &__eye {
    position: absolute;
    top: 50px;

    &--left {
      left: 30px;
    }

    &--right {
      right: 30px;
    }
  }

  &__nose {
    position: absolute;
    top: 160px;
    left: 140px;
  }

  &__ear {
    position: absolute;
    z-index: -1;

    &--right {
      right: 2px;
    }
  }
}