.owl {
  display: block;
  width: 360px;
  margin: 0 auto;

  &:hover {
    .owl__head {
      animation: swing 2s linear;
    }
  }

  &__head {
    position: relative;
    margin-top: 60px;
    z-index: 10;
  }

  &__body {
    position: relative;
    margin-top: -205px;
    z-index: 0;
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
