.nose {

  &__inner {
    display: block;
    width: 0px;
    height: 0;
    border-bottom: 30px solid #ffffa9;
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 0px;
      height: 0;
      border-top: 60px solid #ffffa9;
      border-left: 38px solid transparent;
      border-right: 38px solid transparent;
      position: absolute;
      top: 30px;
      left: -38px;
    }
  }
}